{% extends "dopustbase.html" %}

{% block title %}Edycja danych firmowych{% endblock %}

{% block content %}
  <h1 class="acount">Edycja danych dla lokalizacji</h1>
  <h2 class="acount">{{ nip }}</h2>
  
  <p class="acount">Za pomocą poniższego formularza możesz edytować dane dla określenia parametrów dostawy dla wybranej lokalizacji:</p>
  <h2 class="acount1">{{ lokacja.nazwa }}</h2>
  <div class="login-form">
  <form action="." method="post" enctype="multipart/form-data">
    {{ lokacja_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz zmiany"></p>
  </form>
  </div>
  {% endblock %}
