{% extends "platma/platmabase.html" %}
{% load static %}

{% block title %}
  {% if product %}{{ product.title }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if jh.image %}{{ jh.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
    <h2>{{ jh.label }} {{ jh.name }} {{ jh.opis1 }} {{ jh.opis2 }} {{ jh.opis3 }}</h2>
    <h2><a href="{{ jh.product.get_absolute_url }}">{{ jh.product }}</a></h2>
    <h1 class="price">{{ jh.price }} zł</h1>
	<form action="{% url "cart:cart_add" jh.id %}" method="post">
		{{ cart_jh_form }}
		{% csrf_token %}
	<input type="submit" value="Dodaj">
	</form>
	<h3>{{ jh.zawart }}</h3>
  </div>
{% endblock %}
